.div-background {
	background-image: url(background.jpg);
	width: 1200px;
	height: 1900px;
}
/* Top Company name*/
.creative {
  font-size: 42.745px;
  font-family: "Myriad Pro";
  color: rgb(247, 247, 247);
  font-weight: bold;
  font-style: italic;
  line-height: 1.072;
  text-align: left;
  text-shadow: 0.5px 0.866px 0px rgba(53, 53, 53, 0.004);
  -moz-transform: matrix( 1.31592978480653,0,0,1.31592978480653,0,0);
  -webkit-transform: matrix( 1.31592978480653,0,0,1.31592978480653,0,0);
  -ms-transform: matrix( 1.31592978480653,0,0,1.31592978480653,0,0);
  position: absolute;
  left: 494.48px;
  top: 116.089px;
  z-index: 11;
}

.CORE_UNSTABLE_BE_PREPARED {
  font-size: 10.417px;
  font-family: "Myriad Pro";
  color: rgb(106, 106, 106);
  letter-spacing: 0.4em;
  font-weight: 800;
  line-height: 9.4;
  text-align: left;
  -moz-transform: matrix( 1.31592978480653,0,0,1.31592978480653,0,0);
  -webkit-transform: matrix( 1.31592978480653,0,0,1.31592978480653,0,0);
  -ms-transform: matrix( 1.31592978480653,0,0,1.31592978480653,0,0);
  position: absolute;
  left: 494.937px;
  top: 118.583px;
  z-index: 12;
}
/* Top Menu*/
.WORK {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 3.274;
  text-align: left;
  position: absolute;
  left: 362.844px;
  top: 227.082px;
  z-index: 20;
}
.SERVICES {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(247, 247, 247);
  line-height: 3.274;
  text-align: left;
  position: absolute;
  left: 449.134px;
  top: 227.082px;
  z-index: 19;
}
.ABOUT {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 3.274;
  text-align: left;
  position: absolute;
  left: 696.937px;
  top: 227.082px;
  z-index: 21;
}
.CONTACT {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 3.274;
  text-align: left;
  position: absolute;
  left: 788.937px;
  top: 227.082px;
  z-index: 22;
}
/* logo with some lines*/
.Shape_4 {
  background-image: -moz-linear-gradient( 180deg, rgb(254,212,95) 0%, rgb(216,92,30) 52%, rgb(216,92,30) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(254,212,95) 0%, rgb(216,92,30) 52%, rgb(216,92,30) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(254,212,95) 0%, rgb(216,92,30) 52%, rgb(216,92,30) 100%);
  position: absolute;
  left: 354px;
  top: 271px;
  width: 54px;
  height: 2px;
  z-index: 23;
}
.Shape_1_copy {
  background-image: -moz-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(28,28,28) 50%, rgb(12,12,12) 99%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(28,28,28) 50%, rgb(12,12,12) 99%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(28,28,28) 50%, rgb(12,12,12) 99%);
  position: absolute;
  left: 102px;
  top: 278px;
  width: 997px;
  height: 1px;
  z-index: 18;
}
.Shape_1_copy_2 {
  background-color: rgb(66, 66, 66);
  position: absolute;
  left: 102px;
  top: 281px;
  width: 997px;
  height: 1px;
  z-index: 17;
}
.Shape_1 {
  background-image: -moz-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(49,49,49) 50%, rgb(12,12,12) 99%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(49,49,49) 50%, rgb(12,12,12) 99%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(49,49,49) 50%, rgb(12,12,12) 99%);
  position: absolute;
  left: 102px;
  top: 279px;
  width: 997px;
  height: 2px;
  z-index: 16;
}
.logo {
	background-image: url(middle_orb.png);
	position: absolute;
  	left: 489px;
  	top: 150px;
  	width: 236px;
  	height: 171px;
  	z-index: 27;
}
/* top-center lines*/
.center-title {
  font-size: 30px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.528;
  text-align: left;
  position: absolute;
  left: 120.938px;
  top: 340.58px;
  z-index: 51;
}
.Shape_5_copy {
  background-color: rgb(47, 47, 47);
  position: absolute;
  left: 120px;
  top: 414px;
  width: 960px;
  height: 1px;
  z-index: 55;
}
.Shape_5 {
  background-color: rgb(10, 10, 10);
  position: absolute;
  left: 120px;
  top: 413px;
  width: 960px;
  height: 1px;
  z-index: 54;
}
/* 2 arrows*/
.Shape_7_copy {
  background-image: url("Shape 7 copy.png");
  position: absolute;
  left: 969px;
  top: 387px;
  width: 41px;
  height: 15px;
  z-index: 53;
}
.Shape_7 {
  background-image: url("Shape 7.png");
  position: absolute;
  left: 1019px;
  top: 387px;
  width: 41px;
  height: 15px;
  z-index: 52;
}
/* The part with some pictures (9)*/
/* Big picture*/
.Shape_3_copy_4 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 116px;
  top: 431px;
  width: 306px;
  height: 306px;
  z-index: 40;
}
.Layer_12 {
  background-image: url("Layer 12.png");
  position: absolute;
  left: 120.938px;
  top: 431px;
  width: 300px;
  height: 300px;
  z-index: 41;
}
/* 1 picture*/
.Shape_3_copy_3 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 446px;
  top: 431px;
  width: 141px;
  height: 141px;
  z-index: 38;
}
.Layer_6 {
  background-image: url("Layer 6.png");
  position: absolute;
  left: 437px;
  top: 431px;
  width: 135px;
  height: 135px;
  z-index: 39;
}
/* 2 picture*/
.Shape_3_copy_2 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 611px;
  top: 431px;
  width: 141px;
  height: 141px;
  z-index: 36;
}
.Layer_5 {
  background-image: url("Layer 5.png");
  position: absolute;
  left: 594px;
  top: 431px;
  width: 135px;
  height: 135px;
  z-index: 37;
}
/* 3 picture*/
.Shape_3_copy {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 776px;
  top: 431px;
  width: 141px;
  height: 141px;
  z-index: 34;
}
.Layer_4 {
  background-image: url("Layer 4.png");
  position: absolute;
  left: 764px;
  top: 431px;
  width: 135px;
  height: 135px;
  z-index: 35;
}
/* 4 picture*/
.Shape_3 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 941px;
  top: 431px;
  width: 141px;
  height: 141px;
  z-index: 32;
}
.Layer_3 {
  background-image: url("Layer 3.png");
  position: absolute;
  left: 927px;
  top: 431px;
  width: 135px;
  height: 135px;
  z-index: 33;
}
/* 5 picture*/
.Shape_3_copy_9 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 446px;
  top: 596px;
  width: 141px;
  height: 141px;
  z-index: 48;
}
.Layer_10 {
  background-image: url("Layer 10.png");
  position: absolute;
  left: 437px;
  top: 596px;
  width: 135px;
  height: 135px;
  z-index: 49;
}
/* 6 picture*/
.Shape_3_copy_8 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 611px;
  top: 596px;
  width: 141px;
  height: 141px;
  z-index: 46;
}
.Layer_9 {
  background-image: url("Layer 9.png");
  position: absolute;
  left: 594px;
  top: 596px;
  width: 135px;
  height: 135px;
  z-index: 47;
}
/* 7 picture*/
.Shape_3_copy_7 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 776px;
  top: 596px;
  width: 141px;
  height: 141px;
  z-index: 44;
}
.Layer_7 {
  background-image: url("Layer 7.png");
  position: absolute;
  left: 764px;
  top: 596px;
  width: 135px;
  height: 135px;
  z-index: 45;
}
/* 8 picture*/
.Shape_3_copy_6 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 143, 55);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 941px;
  top: 596px;
  width: 141px;
  height: 141px;
  z-index: 42;
}
.Layer_8 {
  background-image: url("Layer 8.png");
  position: absolute;
  left: 927px;
  top: 596px;
  width: 135px;
  height: 135px;
  z-index: 43;
}





